<table class="display table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>id</th>
      <th>photo</th>
      <th>listing_id</th>
      <th>address</th>
      <th>Price</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>SQFT</th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.id %></td>
        <td><%= image_tag listing.photo if listing.photo %></td>
        <td><%= listing.listing_id %></td>
        <td><%= listing.full_address %></td>
        <td><%= listing.price %></td>
        <td><%= listing.beds %></td>
        <td><%= listing.baths %></td>
        <td><%= listing.living_area %></td>
      </tr>
    <% end %>
  </tbody>
</table>
